DATABASE_URL="file:./dev.db"
AUTH_SECRET="local-development-secret-change-before-production-41599"
APP_URL="http://localhost:3000"
WHATSAPP_PROVIDER="baileys"
WHATSAPP_PROXY_HOST="145.63.132.208"
WHATSAPP_PROXY_PORT="10809"
WHATSAPP_PROXY_PROTOCOL="http"
WHATSAPP_PROXY_USERNAME="t2fiyhza"
WHATSAPP_PROXY_PASSWORD="uctcci6njwph"
AI_PROVIDER="mock"
TTS_API_URL="http://tokaido.proxy.rlwy.net:15389/v1/audio/speech"
TTS_API_KEY="sk-7ffcae5f5ba50485-4igzzl-d8ab1382"
PAYMENT_PROVIDER="zarinpal"
